@import './slider.styl'

.bf-actions
  display block
  font-size 10px
  font-weight 500
  color #fff
  text-align center

  &__conditions
    font-size 1em
    font-weight 500
    color #808080

  &__title
    font-size 3.6em
    font-weight 500
    margin 1em 0 .2em

  &__promocode
    font-size 3.6em
    font-weight 700

  &__content
    max-width 960px
    margin 0 auto

  &__slider
    white-space nowrap

@media (max-width: 640px)
  .bf-actions

    &__title
      font-size 1.8em

    &__promocode
      font-size 2.4em
