@import './slider.styl'

.bf-actions
  display block
  font-size 13px
  font-weight 500
  color #fff
  text-align center

  &__conditions
    font-size 10px
    font-weight 500
    color #808080

  &__title
    font-size 36px
    font-weight 500

  &__promocode
    font-size 36px
    font-weight 700

  &__content
    max-width 1020px
    margin 0 auto

  &__slider
    height 260px
    font-size 0
    white-space nowrap


