.bf-actions-slide
  position relative
  display block
  float left
  width 300px
  height 260px
  padding 0
  margin 0
  border solid 10px #000
  box-sizing border-box
  background-color #f93c00
  color #fff
  text-align left
  opacity 1
  filter grayscale(100%)
  transition .5s opacity ease
  cursor default

  &__inner
    opacity 0
    transition: 1s opacity ease

    .initialized &
      opacity 1

  &.active
    filter grayscale(0)

    &[href]
      cursor pointer

    &:hover
      opacity .5


  &__date, &__title, &__discount
    position absolute
    left 20px
    z-index 2

  &__date, &__title  
    font-size 2.2em
    font-weight 500

  &__title
    top 130px

  &__date
    top 19px

  &__discount
    font-size 7.2em
    font-weight 700
    top 50px

  &__image
    position absolute
    bottom -10px
    right -10px
    max-width 50%
    max-height 150px
    z-index 1